# Exclude from GitHub language detection
*.html linguist-documentation=true
Dockerfile linguist-other=true
# *.md linguist-documentation=true
*.yml linguist-detectable=true
*.yaml linguist-detectable=true